@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: #000;
    }
}
